# Native PHP E-commerce Project

# Environment
.env
.env.backup
.env.production

# Uploaded files
public/uploads/*
!public/uploads/.gitkeep

# Database
*.db
*.sqlite
*.sqlite-journal

# MySQL config
database/config.php

# Logs
*.log
logs/*
!logs/.gitkeep

# IDE
/.fleet
/.idea
/.vscode

# OS
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.cache
